@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 24pt;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #111;
}
body {
  background: radial-gradient(#444, #333);
  background-attachment: fixed;
  background-size: 100vh;
  overflow-x: hidden;
}
header {
  background-color: #333;
  color: #fff;
  padding: 12px;
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid rgb(100, 100, 100);
}
.logo {
  font-size: 22pt;
  user-select: none;
  text-wrap: nowrap;
}
main {
  /* background-color: #444; */
  color: white;
  min-height: 100vh;
}
.titulo {
  text-align: center;
  font-size: 44pt;
}
nav {
  margin-left: 40px;
  user-select: none;
  text-wrap: nowrap;
  overflow-x: auto;
}
nav::-webkit-scrollbar{
  height: 1px;
}
nav a {
  color: #999;
  margin-left: 10px;
  text-decoration: none;
  transition: 300ms;
  user-select: none;
  -webkit-user-drag: none;
  font-size: .6rem;
}
nav a:hover {
  color: white;
  font-size: .8rem;
}
section {
  padding: 80px 0px;
  min-height: 84vh;
}
.section a{
  color: #999;
}
.section a:hover{
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.container div {
  width: 45%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container a{
  margin: auto;
}
.container div button {
  min-width: 150px;
  margin: 10px auto;
  height: 40px;
  background-color: #11111100;
  border-radius: 99px;
  color: white;
  border: solid white 1px;
  cursor: pointer;
  transition: 250ms;
}
.container div button:hover {
  background-color: #11111155;
}
.container img {
  border-radius: 100%;
  max-width: 45%;
  -webkit-user-drag: none;
}
.nomes {
  margin-top: 15px;
  font-size: .4rem !important;
}
.carr {
  border-radius: 100%;
  max-width: 500px;
  min-width: 500px;
  height: 500px;
  overflow: hidden;
  background-color: black;
  position: relative;
}
@keyframes pass-img {
  0% {
    left: 0px;
  }
  5% {
    left: -500px;
  }
  28.33% {
    left: -500px;
  }
  33.33% {
    left: -1000px;
  }
  61.66% {
    left: -1000px;
  }
  66.66%{
    left: -1500px;
  }
}
.carr div {
  border-radius: 0px;
  min-width: 1000px;
  min-height: 500px;
  position: absolute;
  justify-content: start;
  animation: pass-img 16s ease-in-out;
  animation-iteration-count: infinite;
  display: flex;
  flex-direction: row;
}
.carr div img {
  min-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 0px;
  -webkit-user-drag: none;
  transition: 800ms;
  cursor: pointer;
}
/* .carr div img:hover {
  transform: scale(1.1,1.1)
} */
footer {
  min-height: 40px;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 12px 10%;
}

footer a {
  text-align: center;
  font-size: .7em;
  color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  transition: 100ms;
}
footer a:hover{
  text-decoration: underline;
  background-color: #0002;
}
h1 {
  margin-bottom: 14px;
}
.section .nav-buttons{
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  align-items: left;
  gap: 3%; 
  position: relative;
  flex-wrap: wrap;
}
.nav-buttons::before{
  content: "Atividades:";
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: .6em;
  color: #ddd;
}
.section .nav-buttons a{
  margin: 0 4px;
  text-align: center;
  /* background-color: blue; */
  width: 30%;
}
.section .nav-buttons a button{
  margin: 0;
  /* background-color: green; */
  max-width: 100%;
}
article{
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: .8em;
}